<form method="Post" action='@Url.Action(GuardarPaquete(), Home)'>
    @{ int destino; }
    <section>
        <p>@ViewBag.errorMsg</p>
        <div>
            <p>Dirección de E-Mail: </p> <input type="email" placeholder="MatiasIlan@gmail.com" required="required"><br>
            <p>Apellido: </p> <input type="text" placeholder="Bebczuk" required="required"><br>
            <p>Nombre: </p> <input type="text" placeholder="Matias" required="required">
            <p>DNI: </p> <input type="DNI" placeholder="12345678" required="required"><br>
            <p>Fecha de nacimiento: </p>    <input type="date">
            <p>Número de socio: </p> <input type="nds" placeholder="1234" required="required"><br>
            <p>Teléfono de contacto: </p> <input type="tel" placeholder=" xx + 1234-5678" required="required"><br>
        </div>
            <p>Altura (en cm): </p> <input type="acm" placeholder="165cm" required="required"><br>
            <p>Peso (en kg): </p> <input type="acm" placeholder="60kg" required="required"><br>
            <p>Eliga su destino:</p>
            <select>
              <option>@ViewBag.ListaDestinos[0] @{ destino = 0; }</option>
              <option>@ViewBag.ListaDestinos[1] @{ destino = 1; }</option>
              <option>@ViewBag.ListaDestinos[2] @{ destino = 2; }</option>
              <option>@ViewBag.ListaDestinos[3] @{ destino = 3; }</option>
              <option>@ViewBag.ListaDestinos[4] @{ destino = 4; }</option>
              <option>@ViewBag.ListaDestinos[5] @{ destino = 5; }</option>
              <option>@ViewBag.ListaDestinos[6] @{ destino = 6; }</option>
              <option>@ViewBag.ListaDestinos[7] @{ destino = 7; }</option>
              <option>@ViewBag.ListaDestinos[8] @{ destino = 8; }</option>
              <option>@ViewBag.ListaDestinos[9] @{ destino = 9; }</option>
            </select>
        <div>
        </div>
    </section>
    <div>
        <p>Contacto de emergencia</p>
        <p>Apellido: </p> <input type="text" placeholder="Perez" required="required"><br>
        <p>Nombre: </p> <input type="text" placeholder="Fernando" required="required">
        <p>Parenteso: </p> <input type="text" placeholder="Padre/Madre/Tutor" required="required">
        <p>Teléfono de contacto: </p> <input type="tel" placeholder=" xx + 1234-5678" required="required"><br>
    </div>
    <p>Su Hotel de su estadia sera:</p>
    <option>@ViewBag.ListaHoteles[destino]</option>
    <img src="/imgs/Hoteles/@ViewBag.ListaHoteles[destino]">
    <p>Aerolinea:</p>
    <select>
        <option>@ViewBag.ListaAereos[0]</option>
        <option>@ViewBag.ListaAereos[1]</option>
        <option>@ViewBag.ListaAereos[2]</option>
        <option>@ViewBag.ListaAereos[3]</option>
        <option>@ViewBag.ListaAereos[4]</option>
        <option>@ViewBag.ListaAereos[5]</option>
        <option>@ViewBag.ListaAereos[6]</option>
        <option>@ViewBag.ListaAereos[7]</option>
        <option>@ViewBag.ListaAereos[8]</option>
        <option>@ViewBag.ListaAereos[9]</option>
    </select>
    <p>El paquete incluye la siguiente excursion:</p>
    <option>@ViewBag.ListaExcursiones[destino]</option>
    <img src="/imgs/Excursiones/@ViewBag.ListaExcursiones[destino]">
    <p>Ingrese su ficha médica para finalizar con el Apto.</p>
    <input type="file" name="archivo_apto">
    <input type="submit" value="Enviar">
    <p>¡Muchas gracias!</p>
</form>
